.group-page-main {
    margin: 0% 30%;
    min-height: 100vh;
    padding: 5px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.group-title {
    font-size: 48px;
    padding: 5px 10px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-name {
    display: flex;
}

.message {
    font-size: 18px;
    padding: 10px 5px;
}

.message-body {
    display: flex;
    justify-content: right;
    align-items: bottom;
    font-size: 16px;
}

.sender {
    text-align: right;
}

.sender-info {
    font-size: 16px;
    color: #4ADE80;
    font-weight: 700;
}

.receiver-info {
    font-size: 16px;
    color: #b5217f;
    font-weight: 700;
}

.date {
    font-size: 14px;
    color: gray;
}